<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <label for="" class="label-form">Name</label>
            <input placeholder="Enter your Name" type="text" class="form-control" name="name" [(ngModel)]="name">
            <label for="" class="label-form">College Name</label>
            <input placeholder="Enter the college name" type="text" class="form-control" name="college" [(ngModel)]="college">
            <label for="" class="label-form">Parent Name</label>
            <input placeholder="Enter your parent name" type="text" class="form-control" name="pname" [(ngModel)]="pname">
            <label for="" class="label-form">DOB</label>
            <input type="date" class="form-control" name="dob" [(ngModel)]="dob">
            <label for="" class="label-form">Address</label>
            <textarea placeholder="Enter your Details" name="address" id="" cols="30" rows="10" class="form-control" [(ngModel)]="address"></textarea>
            <label for="" class="label-form">Mobile NO</label>
            <input placeholder="Enter your Number" type="text" class="form-control" name="number" [(ngModel)]="number">
            <label for="" class="label-form">Parent Mobile No</label>
            <input placeholder="Enter parent Number" type="text" class="form-control" name="parentnum" [(ngModel)]="parentnum">
            <label for="" class="label-form">Email</label>
            <input placeholder="Enter your email" type="email" class="form-control" name="email" [(ngModel)]="email">
            <label for="" class="label-form">Blood Group</label>
            <select name="blood" id="" class="form-control" [(ngModel)]="blood">
                <option value="select">select</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
                <option value="B-">B-</option>
                <option value="B+">B+</option>
                <option value="O-">O-</option>
                <option value="AB-">AB+</option>
                <option value="AB+">AB-</option>
            </select>
            <p>

            </p>
            <button class="btn btn-primary"(click)="readValues()">Submit</button>
        </div>
   </div>
</div>